@import './colors.scss';

.btn-buy {
	width: 100%;
	background-color: $black !important;
	color: $cream !important;
	&:hover {
		background-color: darken($color: $black, $amount: 15) !important;
	}
}

.input-default{
	display: flex;
	flex-direction: column;
  padding: 10px 0px;
	label {
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 1;
		letter-spacing: 0.05em;
		margin-bottom: 0px;
	}
	input {
		border: 2px solid $black;
		border-top: 0px;
		border-right: 0px;
		border-left: 0px;
		padding: 10px 0px;
	}
}
