<section class="fixed-top">
    <nav class="navbar nav">
        <div class="container-fluid">
          <div>
              <img src="../../../assets/img/logo.svg" class="logo" routerLink="">
          </div>
          <div class="d-flex links">
              <li class="nav-link" routerLink="" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Home</li>

                <!-- <li class="nav-link" routerLink="/brand" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" href="#">Brand</li> -->
                <!-- <li class="nav-link" href="#">Woman</li> -->
                <span></span>
                <li *ngIf="!user" class="nav-link" routerLink="/login" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}" href="#">Login</li>
								<div *ngIf="user" class="d-flex">
									<img [src]="user.photo" alt="">
									<li class="nav-link divider" routerLink="/account" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Account</li>
								</div>
                <li *ngIf="user" class="nav-link" (click)="logout()">Logout</li>
          </div>
        </div>
      </nav>
</section>
