<section class="cont">
  <section class="login">
    <section class="logo">
      <div class="logo_cut">
        <img src="https://images.unsplash.com/photo-1633464130613-0a9154299ac2?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>
    </section>
    <section class="data">
      <div class="data_cont">
        <input type="file" accept="image/*" (change)="uploadPhoto()"
         class="hide" name="photo" id="photo" ngbTooltip="{{msg}}">
        <div class="data_img">
          <img src="{{src}}" alt="">
          <button *ngIf="file"(click)="removePhoto()" ngbTooltip="Remover Imagem">X</button>
        </div>
        <div class="form" [formGroup]="form">
          <div class="input-default">
            <label for="name">Nome</label>
            <input type="name" (keyup)="checkForm()" formControlName="name" placeholder="Digite seu Nome">
          </div>
          <div class="input-default">
            <label for="email">Email</label>
            <input type="email" (keyup)="validateEmail(); checkForm()" formControlName="email" placeholder="Digite seu email">
            <span class="invalid" *ngIf="invalid">Email Inválido</span>
          </div>
          <div class="input-default">
            <label for="pass">Senha</label>
            <input type="password" (keyup)="checkForm()" formControlName="password" placeholder="Digite sua senha">
          </div>
          <button class="btn btn-buy" [disabled]="fieldsEmpty" (click)="createAccount()">Criar Conta</button>
          <span class="invalid" *ngIf="fieldsEmpty">Algum campo está vazio.</span>
        </div>
        <div class="options">
          <span class="create" routerLink="/login">Já tenho conta</span>
        </div>
      </div>
    </section>
  </section>

</section>
