<section class="cont">
  <section class="login">
    <section class="logo">
      <div class="logo_cut">
        <img src="https://images.unsplash.com/photo-1558128242-6e97528bf8fb?q=80&w=2092&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>
    </section>
    <section class="data">
      <div class="data_cont">
        <div class="data_img">
          <img src="../../../assets/img/user.svg" alt="">
        </div>
        <div class="form">
          <div class="input-default">
            <label for="email">Email</label>
            <input type="email" placeholder="Digite seu email">
          </div>
          <div class="input-default">
            <label for="pass">Senha</label>
            <input type="password" placeholder="Digite sua senha">
          </div>
          <button class="btn btn-buy">Entrar</button>
        </div>
        <div class="options">
          <span class="forgot">Esqueceu a Senha ?</span>
          <span class="create">Criar conta</span>
        </div>
      </div>
    </section>
  </section>

</section>
