<section class="cont">
  <section class="login">
    <section class="logo">
      <div class="logo_cut">
        <img src="https://images.unsplash.com/photo-1551107696-a4b0c5a0d9a2?q=80&w=2012&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      </div>
    </section>
    <section class="data">
      <div *ngIf="step === '1'" class="data_cont">
        <div class="data_img">
          <img src="../../../assets/img/user_unknow.svg" alt="">
        </div>
        <div class="form" [formGroup]="form">
          <div class="input-default">
            <label for="email">Email</label>
            <input type="email" (keyup)="validateEmail(); checkForm()" formControlName="email" placeholder="Digite seu email">
            <span class="invalid" *ngIf="invalid">Email Inválido</span>
          </div>
          <button class="btn btn-buy" [disabled]="fieldsEmpty" (click)="sendEmail()">Enviar</button>
          <span class="invalid" *ngIf="fieldsEmpty">Algum campo está vazio.</span>
        </div>
        <div class="options">
          <span class="back" routerLink="/login">Voltar</span>
          <span class="create" routerLink="/create">Criar conta</span>
        </div>
      </div>
      <div *ngIf="alert" class="alert alert-dark" role="alert">
        Foi enviado um código para seu email.
      </div>

      <div *ngIf="step === '2'" class="data_cont">
        <div class="data_img">
          <img src="../../../assets/img/user_unknow.svg" alt="">
        </div>
        <div class="form" [formGroup]="formTwo">
          <div class="input-default">
            <label for="code">Código</label>
            <input type="code" (keyup)="checkForm()" formControlName="code" placeholder="Digite seu código">
            <!-- <span class="invalid" *ngIf="invalid">Email Inválido</span> -->
          </div>
          <div class="input-default">
            <label for="pass">Senha</label>
            <input type="password" (keyup)="checkForm()" formControlName="password" placeholder="Digite sua senha">
            <span class="invalid" *ngIf="invalid">Campo Vazio</span>
          </div>
          <div class="input-default">
            <label for="pass">Confirmar Senha</label>
            <input type="password" (keyup)="checkForm()" formControlName="confirm_password" placeholder="Digite sua senha">
            <span class="invalid" *ngIf="invalid">Campo Vazio</span>
          </div>
          <button class="btn btn-buy" [disabled]="fieldsEmpty" (click)="reset()">Resetar Senha</button>
          <span class="invalid" *ngIf="fieldsEmpty">Algum campo está vazio.</span>
        </div>
        <div class="options">
          <span class="back" routerLink="/login">Voltar</span>
          <span class="create" routerLink="/create">Criar conta</span>
        </div>
      </div>
    </section>
  </section>
</section>
